{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
{% if attr.counter is defined %}
  {% set isRecommandedType = attr.counter_type is defined and attr.counter_type == 'recommended' %}
  <small class="form-text text-muted text-right maxLength {{ not (isRecommandedType) ? 'maxType' }}">
      <em>
        {% if isRecommandedType %}
          {{ '[1][/1] of [2][/2] characters used (recommended)'|trans({}, 'Admin.Catalog.Feature')|replace({
            '[1]': '<span class="currentLength">',
            '[/1]': '</span>',
            '[2]': '<span class="currentTotalMax">' ~ attr.counter,
            '[/2]': '</span>',
          })|raw_purified }}
        {% else %}
          {{ '[1][/1] of [2][/2] characters allowed'|trans({}, 'Admin.Catalog.Feature')|replace({
            '[1]': '<span class="currentLength">',
            '[/1]': '</span>',
            '[2]': '<span class="currentTotalMax">' ~ attr.counter,
            '[/2]': '</span>',
          })|raw_purified }}
        {% endif %}
      </em>
  </small>
{% endif %}
