{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

<div class="col-lg-3 col-md-4 col-sm-6 theme-card-container" data-role="{{ themeName }}" data-theme-framework="{{ themeFramework|default('') }}">
  {% block content %}
  {% endblock %}
</div>
