{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

<div class="product-footer">
  {% block product_header_form %}
    <div class="product-footer-container">
      {# Only a few selected elements are in the right column #}
      <div class="form-group product-footer-right">
        <div id="product-footer-right" class="footer-buttons-container">
          {{ form_row(productForm.footer.cancel) }}
          {{ form_row(productForm.footer.save) }}
        </div>
      </div>

      {# The rest is displayed in the left column, it is displayed after because it renders all that's left #}
      {{ form_row(productForm.footer) }}
    </div>
  {% endblock %}
</div>
