{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% if customerBoughtProductGrid.data.records_total > 0 %}
<div class="card customer-bought-products-card">
  <h3 class="card-header">
    <i class="material-icons">attach_money</i>
    {{ 'Purchased products'|trans({}, 'Admin.Orderscustomers.Feature') }}
    <span class="badge badge-primary rounded">{{ customerBoughtProductGrid.data.records_total }}</span>
  </h3>
  <div class="card-body">
    {{ include('@PrestaShop/Admin/Common/Grid/grid.html.twig', {grid: customerBoughtProductGrid}) }}
  </div>
</div>
{% endif %}
