{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% block backup_creation_form %}
<form action="{{ path('admin_backups_create') }}" method="post">
  <input type="hidden" name="_token" value="{{ csrf_token('backup') }}">

  <button type="submit" class="btn btn-outline-warning" data-role="create-backup-btn">
    <i class="material-icons">save</i>
    {{ 'I have read the disclaimer. Please create a new backup.'|trans({}, 'Admin.Advparameters.Notification') }}
  </button>
</form>
{% endblock %}
