{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% trans_default_domain 'Admin.Shipping.Help' %}

{% if showHeaderAlert %}
  <div class="alert alert-info">
    <p>{{ 'You need to register all the carriers with which you have chosen to work. PrestaShop comes with a selection of carrier modules you can install right below the page or buy on [1]Addons marketplace[/1].'|trans({'[1]': '<a href="https://addons.prestashop.com/en/520-shipping-carriers">', '[/1]': '</a>'}, 'Admin.Shipping.Help')|raw_purified }}</p><br>
    <p>{{ 'If there is no existing module for your carrier, you can register it manually by clicking on "[1]" but before, please make sure you did not register a new carrier if a module already exists for it!'|trans({'[1]': 'Add new carrier'|trans({}, 'Admin.Shipping.Feature')}, 'Admin.Shipping.Help')|raw_purified }}</p>
  </div>
{% endif %}
