{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
<div class="grid-actions-header-text">
  {{ column.name }}
</div>
