{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% trans_default_domain 'Admin.Shopparameters.Feature' %}
{% form_theme stockForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

{% block product_preferences_stock %}
  <div class="card" id="configuration_fieldset_stock">
    <h3 class="card-header">
      <i class="material-icons">shop</i>
      {{ 'Products stock'|trans }}
    </h3>
    <div class="card-body">
      <div class="form-wrapper">
        {{ form_widget(stockForm) }}
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary" id="form-stock-save-button">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
      </div>
    </div>
  </div>
{% endblock %}
