{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
{% if record['texture'] is defined %}
  <div class="attributes-color-container">
    <img class="image-container" src="{{ record['texture'] }}" />
  </div>
{% else %}
  <div style="background-color:{{ record[column.options.field] }};" class="attributes-color-container"></div>
{% endif %}
