{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% if (column.options.disabled_field is empty or not record[column.options.disabled_field]) and (record.disableBulkCheckbox is not defined or not record.disableBulkCheckbox) %}
<div class="md-checkbox">
  <label>
    <input type="checkbox"
           title="{{ column.name }}"
           class="js-bulk-action-checkbox"
           name="{{ grid.id ~ '_' ~ column.id }}[]"
           value="{{ record[column.options.bulk_field] }}"
    >
    <i class="md-checkbox-control"></i>
  </label>
</div>
{% endif %}
