{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% set shopName = record[column.options.field] %}
{% set shopColor = record[column.options.color_field] %}
<span class="shop-name-column-content">
  <span class="shop-selector-color" style="background-color: {{ shopColor }}"></span>
  <span class="shop-name-text">{{ shopName }}</span>
</span>
