{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
<ul id="header-list" class="header-list">
  <li class="shopname" data-mobile="true" data-from="header-list" data-target="menu">
    {% if this.shopList %}
    <ul id="header_shop" class="shop-state">
      <li class="dropdown">
        <span>{{ this.shopList|raw }}</span>
      </li>
    </ul>
    {% else %}
    <a id="header_shopname" class="shop-state" href="{{ ps.baseUrl|escape('html_attr') }}" target="_blank">
      <i class="material-icons">visibility</i>
      <span>{{ 'View my store'|trans({}, 'Admin.Navigation.Header') }}</span>
    </a>
    {% endif %}
  </li>
</ul>
