{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

<div id="combinations-preloader">
  <div class="text-center showcase-list-card">
    <img alt="{{ 'Loading combinations'|trans({}, 'Admin.Catalog.Feature') }}" title="{{ 'Loading combinations'|trans({}, 'Admin.Catalog.Feature') }}" class="img-responsive mt-3" src="{{ asset('themes/new-theme/img/empty_state/combinations.svg') }}" width="320" height="auto">

    <p class="mt-4 showcase-list-card__header">{{ 'Loading combinations'|trans({}, 'Admin.Catalog.Feature') }}</p>

    <div class="m-4 m-b4">
      <div class="spinner spinner-primary"></div>
    </div>
  </div>
</div>
