{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

<div class="text-center grid-table-empty">
  <p class="mb-0 mt-2"><i class="material-icons">warning</i></p>
  <p class="mb-2">{{ 'No records found'|trans({}, 'Admin.Global') }}</p>
</div>
