{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

<div class="text-center showcase-list-card">
  <img class="img-responsive mt-3 img-rtl" src="{{ asset('themes/new-theme/img/empty_state/order.svg') }}" width="320" height="auto">

  <p class="mt-4 showcase-list-card__header">{{ 'Manage your orders'|trans({}, 'Admin.Orderscustomers.Feature') }}</p>

  <p class="mx-auto showcase-list-card__message">
    {{ 'Find all your orders on this page and access their main information in one click: check the cart total, the payment method, the shipping details, or if it comes from a new client. You can even update the status from the listing!'|trans({}, 'Admin.Orderscustomers.Feature') }}
  </p>

</div>
