{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% set href = path('admin_performance') ~ '#optional_features' %}
{% set linkText = 'Performance'|trans({}, 'Admin.Global') %}

<div class="alert alert-warning" role="alert">
  <p>
    {{ 'This feature has been disabled. You can activate it here: %url%.'|trans({
      '%url%': "<a href=\"#{href}\">#{linkText}</a>"
    }, 'Admin.Catalog.Notification')|raw_purified }}
  </p>
</div>
