{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% block catalog_recently_used %}
  <div id="module-recently-used-list" class="module-short-list">
    <span id="recently-used_modules" class="module-search-result-title">{{ 'Recently Used'|trans({}, 'Admin.Modules.Feature') }}</span>
    <div class="modules-list" data-name="recently-used"></div>
  </div>
{% endblock %}
