{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
<div id="modules-list-container-{{ id }}" class="row modules-list" data-name="{{ id }}">
  {% for index, module in modules %}
    {% block addon_card %}
      {{ include('@PrestaShop/Admin/Module/Includes/card_list.html.twig', {index: index, module: module, origin: origin|default('none'), category: id}) }}
    {% endblock %}
  {% endfor %}
</div>
