{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% block catalog_category_empty %}
  {% set hookData = renderhook('displayEmptyModuleCategoryExtraMessage', {category_name: category.name}) %}
  {% if hookData is not empty %}
    <div class="module-short-list">
      <span id="{{ category.refMenu }}_modules" class="module-search-result-title">{{ category.name|trans({}, 'Admin.Modules.Feature') }}</span>
      <div class="modules-list module-list-empty" data-name="{{ category.refMenu }}">
        {{ hookData|raw }}
      </div>
    </div>
  {% endif %}
{% endblock %}
