{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

{% if grid.actions.bulk|length > 0 and grid.data.records_total > 0 %}
    <div class="btn-group">
      <button class="btn btn-outline-secondary dropdown-toggle js-bulk-actions-btn"
              data-toggle="dropdown"
              disabled
      >
        {{ 'Bulk actions'|trans({}, 'Admin.Global') }}
        <i class="icon-caret-up"></i>
      </button>

      <div class="dropdown-menu">
        {% for action in grid.actions.bulk %}
          {{ include('@PrestaShop/Admin/Common/Grid/Actions/Bulk/' ~ action.type ~ '.html.twig', {action: action, grid: grid}) }}
        {% endfor %}
      </div>
    </div>
{% endif %}
