{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

<div class="md-checkbox">
  <label>
    <input type="checkbox"
           class="js-bulk-action-select-all"
           id="{{ grid.id }}_grid_bulk_action_select_all"
    >
    <i class="md-checkbox-control grid_bulk_action_select_all"></i>
  </label>
</div>
