{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

<div class="card-footer">
  <a href="{{ path('admin_cms_pages_index') }}" class="btn btn-outline-secondary back-to-list-link">
    <i class="material-icons rtl-flip">arrow_back</i>
    {{ 'Back to list'|trans({}, 'Admin.Actions') }}
  </a>
</div>
