{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}

<div id="serp-app" data-cms-url="{{ data.cms_url }}"></div>
