{#
 # For the full copyright and license information, please view the
 # docs/licenses/LICENSE.txt file that was distributed with this source code.
 #}
<div class="card card-details mb-0">
  <div class="card-header d-none d-print-block">
    {% block header %}
    {% endblock %}
  </div>
  <div class="card-body">
    {% block body %}
    {% endblock %}
  </div>
</div>
